* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#container {
    max-width: 100%;
    max-height: auto;
}

body {
    margin: 5em;
}

.header {
    display: block;
    flex-wrap: wrap;
   
}

h1 {
    text-decoration: underline;
    
}



#nav {
    display: block;
    border-style: double;
    border-radius: 33px;
    float: center;
    justify-content:space-between;
    background-color: lightblue;

}

#navright {
    float: right;
    align-content: space-between;
}


/* ul a {
    flex-flow: row;
} */


/* .topnav {
    overflow: hidden;
    background-color: aquamarine;
    align-self: flex-end;
} */

/* .topnav a {
    color:darkblue;
    text-decoration: none;
    font-size: 1.5em;
    justify-content: space-around;
    nav-right: auto;

} */

#myBtn {
    border: none;
    outline: none;

}

#about {
    border-style: solid;
    border-color: darkblue;
    border-radius: 39px;
}

#work {
    border-style: solid;
    border-color: darkblue;
    border-radius: 39px;
}



 #bunny {
    
    margin-right:auto;
    margin-bottom:auto;
    padding: 10px;
    position: relative;
    top: -150px;
    left: 60em;
    display:inline-block;
    
}




 /* .header nav ul li {
    display: inline-block;
    margin-left: 35px;
    font-size: x-large;
    font-family: ‘Courier New’, Courier, monospace;
} */

/* .header nav ul {
    display: inline-block; 
    margin-bottom: auto;
    display: flex;
    justify-content: right; 
    left: -800px;
}  */


footer {
    clear: both;
    float: right;
}


button {
    border-width: 10px;
    padding: 5px;
    margin: 5px;
    size: 200px;
    flex: auto;
    
}

button:hover {
    background-color:turquoise;
    padding: 20px 60px;
}


h2 {
    text-align: center;
}

h2 p {
    justify-content: space-between;
    
}

img {
    max-width: 100%;
    height: auto;
    flex: 1 0 300px;
}

/* .buttonsposition {
    background-image: url(./assets/images.jpg);
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: auto;
    padding: 0 0 0 10px;
    border: 0px;
    margin: 0px;
} */

p {
    text-align: center;
    border-style: double;
    border-radius: 11px;
    justify-content: space-evenly;

}



/* <div class="topnav">
  
  <a href="#about">AbourMe</a>
  <a href="#contact">Contact</a>
  <div class="topnav-right">
    <a href="#search">Search</a>
    <a href="#about">About</a>
  </div>
</div> */

@media screen and (max-width: 900px) {
        img {
        width: 50%;
        position:absolute;
    }
}



@media screen and (max-width: 700px) {
           img     {
        max-width: 30%;
        position:absolute;
    }
}

@media screen and (max-width: 400px) {
    img {
        width:auto
    }
}
    


@media screen and (max-width: 800px){
    .header img {
        position:absolute;
        left:unset;
        flex-wrap: wrap;
    }
}